<?xml version="1.0" ?>
<model>
    <name>basic_office</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Ismail Koc</name>
        <email>ismailkoch492@gmail.com</email>
    </author>
    <description>
    Colored walls for an office environment
    </description>
</model>
